{% extends 'job_manage.html' %}
{% block showpage %}
{#<link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">#}

<form enctype="multipart/form-data" role="form" method="post">
    <label class="control-label">选择准备执行脚本</label>
    <div class="container">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                选择脚本
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% if scripts %}
                    {% for script in scripts %}
                        <li><a href="/job_run/?job_name={{ script.job_name }}" methods="PUT" role="menuitem">{{script.job_name}}</a></li>
                    {% endfor %}
                {%endif%}
            </ul>
        </div>
    </div>

        {% if choiced_script %}
            <li><a >{{ choiced_script}}</a></li>
        {%endif%}
{#<div class="btn-group">#}
{#    {% if scripts %}#}
{#        {% for agent in agents %}#}
{#            <button class="btn">{{agent.host_name}}</button>#}
{#        {% endfor %}#}
{#    {%endif%}#}
{##}
{#</div>#}
<label class="control-label">选择服务器</label>
<div class="container">
<div class="btn-group" data-toggle="buttons">
    {% if agents %}
        {% for agent in agents %}
             <label class="btn btn-primary ">
                <input type="checkbox" name={{agent.host_name}} autocomplete="off"> {{agent.host_name}}
             </label>

        {% endfor %}
    {%endif%}
</div>
{#  <label class="btn btn-primary ">#}
{#    <input type="checkbox" name="Checkbox 1" autocomplete="off"> Checkbox 1#}
{#  </label>#}
{#  <label class="btn btn-primary">#}
{#    <input type="checkbox" name="Checkbox 2" autocomplete="off"> Checkbox 2#}
{#  </label>#}
{#  <label class="btn btn-primary">#}
{#    <input type="checkbox" name="Checkbox 3" autocomplete="off"> Checkbox 3#}
{#  </label>#}
</div>


  <div class="control-group">
    <div class="controls">
      <p>{{ add_error }}</p>
      <button type="submit" class="btn">提交</button>
      <a class="btn" href="/job_manage/">取消</a>
    </div>
  </div>

</form>

{#    	<script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>#}
{#	<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}

{#	<script src="/static/js/jquery-3.1.1.min.js"></script>#}
{#	<script src="/static/js/bootstrap-3.3.7.js"></script>#}
{% endblock %}
