{% extends 'job_manage.html' %}
{% block showpage %}
<form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">

{#    <div class="row" style="height: 500px">#}
{#           <input id="file-Portrait1" type="file">#}
{#    </div>#}

{#    <label class="control-label">Select File</label>#}
{#<input id="input-1" type="file" class="file">#}
{#    #}


    <label class="control-label">Select File</label>
<input id="input-1a" name="script" type="file" class="file" formenctype="multipart/form-data" data-show-preview="false">

{# <form enctype="multipart/form-data" method="post" action="/job_upload/">#}
{#<input type="file" name="script" />#}

  <div class="control-group">
    <div class="controls">
      <p>{{ add_error }}</p>
      <button type="submit" class="btn">提交</button>
      <a class="btn" href="/job_manage/">取消</a>
    </div>
  </div>
</form>

{#      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->#}
{#  <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>#}
{#  <script src="/static/js/bootstrap.min.js"></script>#}
{#    bootstrap-fileinput/js/fileinput.min.js#}
{#    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">#}
{#<link href="path/to/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />#}
{% endblock %}