
<!DOCTYPE html>
<html lang="zh-CN" >
<head>
<title>选择 periodic task 来修改 | Django 站点管理员</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />


  <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />


    <script type="text/javascript" src="/admin/jsi18n/"></script>




<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "28800";</script>


<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>

<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>


<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" app-djcelery model-periodictask change-list">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/admin/">Django 管理</a></h1>

        </div>

        <div id="user-tools">

                欢迎，
                <strong>weitac</strong>.





                <a href="/admin/password_change/">修改密码</a> /

                <a href="/admin/logout/">注销</a>

        </div>


    </div>
    <!-- END Header -->

<div class="breadcrumbs">
<a href="/admin/">首页</a>
&rsaquo; <a href="/admin/djcelery/">Djcelery</a>
&rsaquo; Periodic tasks
</div>







    <!-- Content -->
    <div id="content" class="flex">

        <h1>选择 periodic task 来修改</h1>

  <div id="content-main">


        <ul class="object-tools">

            <li>

              <a href="/admin/djcelery/periodictask/add/" class="addlink">
                增加 periodic task
              </a>
            </li>

        </ul>



    <div class="module" id="changelist">










      <form id="changelist-form" action="" method="post" novalidate><input type='hidden' name='csrfmiddlewaretoken' value='pfk8eSe58G2YcJE5wSo8CSFy7w2d5LXk' />




<div class="actions">
    <label>动作 <select name="action">
<option value="" selected="selected">---------</option>
<option value="delete_selected">删除所选的 periodic tasks</option>
</select></label><input class="select-across" name="select_across" type="hidden" value="0" />
    <button type="submit" class="button" title="运行选中的动作" name="index" value="0">执行</button>

        <script type="text/javascript">var _actions_icnt="1";</script>
        <span class="action-counter">1 个中 0 个被选</span>


</div>




<div class="results">
<table id="result_list">
<thead>
<tr>

<th scope="col"  class="action-checkbox-column">

   <div class="text"><span><input type="checkbox" id="action-toggle" /></span></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="column-__unicode__">

   <div class="text"><span>Periodic task</span></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="sortable column-enabled">



   <div class="text"><a href="?o=2">Enabled</a></div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>


<tr class="row1"><td class="action-checkbox"><input class="action-select" name="_selected_action" type="checkbox" value="1" /></td><th class="field-__unicode__"><a href="/admin/djcelery/periodictask/1/">work: *1 *2 * * * (m/h/d/dM/MY)</a></th><td class="field-enabled"><img src="/static/admin/img/icon-yes.gif" alt="True" /></td></tr>

</tbody>
</table>
</div>






<p class="paginator">

1 periodic task


</p>

      </form>
    </div>
  </div>


        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
