{% extends 'job_manage.html' %}
{% block showpage %}


<form enctype="multipart/form-data" method="post" action="/job_upload/">
    <div>

        <label class="control-label">选择脚本</label>
        <input type="file" name="script" class="file" data-show-preview="false"/>
    </div>

  <div class="control-group">
    <div class="controls">
      <p>{{ add_error }}</p>
      <button type="submit" class="btn">提交</button>
      <a class="btn" href="/job_manage/">取消</a>
    </div>
  </div>
</form>



<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/fileinput.min.js"></script>

{% endblock %}