<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

  <link href="/static/css/pagination.css" rel="stylesheet">

 <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
       <label class="control-label">Select File</label>
 <form enctype="multipart/form-data" method="post" action="/job_upload/">
<input type="file" name="script" class="file"/>

  <div class="control-group">
    <div class="controls">
      <p>{{ add_error }}</p>
      <button type="submit" class="btn">提交</button>
      <a class="btn" href="/job_manage/">取消</a>
    </div>
  </div>
</form>

  <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#dropdowns"><i class="icon-chevron-right"></i> 下拉菜单</a></li>
          <li><a href="#buttonGroups"><i class="icon-chevron-right"></i> 按钮组</a></li>
          <li><a href="#buttonDropdowns"><i class="icon-chevron-right"></i> 按钮下拉菜单</a></li>
          <li><a href="#navs"><i class="icon-chevron-right"></i> 导航</a></li>
          <li><a href="#navbar"><i class="icon-chevron-right"></i> 导航条</a></li>
          <li><a href="#breadcrumbs"><i class="icon-chevron-right"></i> 面包屑</a></li>
          <li><a href="#pagination"><i class="icon-chevron-right"></i> 分页</a></li>
          <li><a href="#labels-badges"><i class="icon-chevron-right"></i> 标签与徽章</a></li>
          <li><a href="#typography"><i class="icon-chevron-right"></i> 排版</a></li>
          <li><a href="#thumbnails"><i class="icon-chevron-right"></i> 缩略图</a></li>
          <li><a href="#alerts"><i class="icon-chevron-right"></i> 警告框</a></li>
          <li><a href="#progress"><i class="icon-chevron-right"></i> 进度条</a></li>
          <li><a href="#media"><i class="icon-chevron-right"></i> 媒体对象</a></li>
          <li><a href="#misc"><i class="icon-chevron-right"></i> Misc</a></li>
        </ul>
      </div>

<script src="/static/js/jquery-3.1.1.min.js"></script>
       <script src="/static/js/fileinput.min.js"></script>
</body>

</html>